.wrapper { 
  display: flex;
  justify-content: center;
}

.imageWrapper {
  max-width: 1200px;
  max-height: 600px;

  img {
    width: 100%;
  }
}

.mobileImageWrapper {
  display: flex;
  flex-direction: column;
}

.verticalSpace {
  height: 60px;
  width: 100%;
}