.heroStyle {
  font-family: PT Sans;
  font-size: 120px;
  font-weight: 100;
  opacity: 63%;
}

.parentWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

.heroWrapper {
  display: flex;
}

.portraitWrapper {
  position: relative;
}

.firstName {
  margin:0;
  margin-right: 40px;
  line-height: 82px;
  margin-bottom: 25px;
}

.lastName {
  z-index: 1;
  position: absolute;
  top:0;
  left:0;
  margin: 0;
  margin-left: -10px;
  line-height: 82px;
}

.secondSubtitle {
  margin-left: 100px;
}

.portrait {
  z-index: 0;
  position: absolute;
  top:0;
  left:0;
  opacity: 69%;
}

.delay {
  --animate-delay: 0.5s;
}

.hideMobile {
  @media (max-width: 748px) {
    display: none;
  }
}

.hideDesktop {
  @media not all and (max-width: 748px) {
    display: none;
  }
}

@media (max-width: 748px) {
  .heroStyle {
    font-size: 60px;
  }

  .firstName {
    line-height: 55px;
    margin: 0;
  }

  .secondSubtitle {
    margin-left: 70px;
  }
}