.pageHeaderWrapper {
  padding-top: 70px;
  padding-left: 45px;
}

.title {
  line-height: 60px;
  margin:0;
}

.secondSubtitle {
  margin-left: 100px;
}

@media (max-width: 748px) {
  .pageHeaderWrapper {
    padding-left: 5px;
  }

  .title {
    line-height: 40px;
  }

  .secondSubtitle {
    margin-left: 70px;
  }
}